USE [SQL_DB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 03-11-2020 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Employee](
	[EMPID] [float] NULL,
	[EMPNAME] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[SALARY] [float] NULL,
	[Tax] [float] NULL,
	[DEPT] [nvarchar](255) NULL,
	[ManagerName] [nvarchar](255) NULL,
	[Designation] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Employee] ([EMPID], [EMPNAME], [Gender], [SALARY], [Tax], [DEPT], [ManagerName], [Designation]) VALUES (1, N'AMIT', N'M', 50000, 8000, N'IT', N'Amitabh', N'Programmer')
INSERT [dbo].[Employee] ([EMPID], [EMPNAME], [Gender], [SALARY], [Tax], [DEPT], [ManagerName], [Designation]) VALUES (2, N'RAJ', N'M', 2000, 500, N'FINANCE', N'Rajesh', N'Analyst')
INSERT [dbo].[Employee] ([EMPID], [EMPNAME], [Gender], [SALARY], [Tax], [DEPT], [ManagerName], [Designation]) VALUES (3, N'ANAND', N'M', 30000, 300, N'IT', N'Amitabh', N'Programmer')
